@import url(satoshi.css);
@import url(stabil.css);

.aside-wrapper {
  box-sizing: border-box;
  height: 100vh;
  width: 25%;
  align-self: flex-start;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.aside-wrapper p {
  color: #f3f3f3;
}

.chat-wrapper {
  height: 100%;
  max-height: 55vh;
  max-width: 100%;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(23, 23, 24);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(120, 120, 120, 0.2);
  border-radius: 16px;;
  padding: 16px 16px 16px 12px;
  margin-bottom: 16px;
}

.chat-header {
  margin-bottom: 12px;
}

.chat-header p {
  font-size: 20px;
  margin-top: 4px;
  width: 80%;
}

.chat-header h1 {
  margin: 0;
}

#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(10px); 
    height: 100%;
    font-family: "Stabil-Grotesk";
    overflow: hidden;
  }

/* Chat display area styles */
#chat-display {
  overflow-y: auto;
  font-family: "Stabil-Grotesk";
  padding: 0px 12px 12px 12px;
  overflow-x: hidden;
}

/* User message styles */
.user-message {
  margin-bottom: 8px;
  font-size: 16px;
  font-family: "Stabil-Grotesk";
  color: #a2a2a2;
}

/* Bot message styles */
.bot-message {
  margin-bottom: 8px;
  font-size: 16px;
  font-family: "Stabil-Grotesk";
  position: relative;
}

.cursor-animation {
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #fff;
  animation: blink 1s step-end infinite; /* Define the blinking animation */
  right: -8px; /* Adjust the position of the cursor */
}

@keyframes blink {
  50% {
      opacity: 0; /* Make the cursor invisible */
  }
}

#welcome-message {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}


/* User input field styles */
#user-input {
  width: 90%;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  white-space: break-spaces; /* Allow text to wrap and use vertical scrollbar */
  overflow-y: auto; /* Show vertical scrollbar when necessary */
}

input:focus {
  outline: none;
}

input {
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(23, 23, 24, 0.5);
  border-radius: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 50px;
}

form:focus-within { 
  outline: 1px solid white; 
}

/* Submit button styles */
button {
  width: 36px;
  height: 36px;
  background-image: url(/images/Send.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 8px;
  margin-right: 12px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

/* MEDIA QUERIES */
/* Extra Small Devices (XS) */
@media (max-width: 575.98px) {
  .aside-wrapper {
      display: none;
  }
}

/* Small Devices (SM) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .aside-wrapper {
    display: none;
  }
}

/* Medium Devices (MD) */
@media (min-width: 768px) and (max-width: 991.98px) {  
  .aside-wrapper {
    display: flex;
    height: 75%;
    flex: 1 1 28%;
    position: relative;
    gap: 8px;
    top: auto;
    overflow-x: clip;
  }

  .chat-wrapper {
    flex: 1 1 25%;
    margin-bottom: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

/* Large Devices (LG) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .aside-wrapper {
    width: 30%;
    max-width: 30%;
  }
}

/* Extra Large Devices (XL) */
@media (min-width: 1200px) and (max-width: 1600px) {
  .aside-wrapper {
    width: 25%;
    
  }
}

@media (min-width: 1599px) {
  .aside-wrapper {
    width: 384px;
    max-width: 384px;
  }
}
