.icebreakers-wrapper {
    position: relative;
    overflow-y: hidden;
    padding: 0px 8px 0px 8px;
}

.icebreaker-tiles-wrapper {
    height: 98%;
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 12px;
    padding-bottom: 12px;
}

.icebreaker-tile {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    text-align: center;
    border-radius: 16px;
    background-color: #151515;
    border: 1px solid rgba(120, 120, 120, 0.2);
    cursor: pointer;
    user-select: none; /* Prevent text selection on double click */
    position: relative;
    flex: 1 1 48%;
    height: 15.5vh;
}

.icebreaker-tile h6 {
    font-size: calc(1rem + 2px);
    font-weight: 400;
    text-transform: none;
    color: rgb(255, 255, 255);
}

.icebreaker-tile:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.copy-text {
    font-family: "Satoshi-Variable";
    font-size: 1rem;
    font-weight: 400;
    color: white;
    max-width: 80%;
    opacity: 1; /* Set initial opacity to 1 */
    transition: opacity 0.15s; /* Add transition for smooth animation */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 24, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hide the overlay */
    pointer-events: none; /* Make the overlay not block clicks on the tile */
}

.overlay div {
    font-size: 1rem;
    font-family: 'Satoshi-Variable';
}

.copied .copy-text {
    opacity: 0.7; /* Animate the opacity to 0 when .copied class is added */
}

.copied .overlay {
    opacity: 1;
    transition: opacity 0.2s; /* Add transition for smooth animation */
}

.icebreaker-tile {
    color: white; 
}

.overlay h4 {
    color: #fff;
}

.icebreaker-menu-button {
    display: none;
    text-align: center;
    padding: 24px;
    width: 100%;
    border-radius: 16px;
    background-color: #151515;
    border: 1px solid rgba(120, 120, 120, 0.2);
    font-size: 1rem;
    font-family: "Satoshi-Variable";
    color: white;
    font-weight: 500;
}

/* MEDIA QUERIES */

/* Extra Small Devices (XS) */
@media (max-width: 575.98px) {
    .icebreakers-wrapper {
        display: none;
        padding: 0px;
        height: 30%;
    }

    .icebreaker-tiles-wrapper {
        overflow-y: hidden;
        overflow-x: scroll;
        flex-wrap: nowrap;
        gap: 12px;
        padding: 0px 12px 12px 12px;
        height: fit-content;
    }

    .icebreaker-tile {
        flex: 1 1 40%;
        min-width: 40%;;
        padding: 24px;
        height: fit-content;
    }

    .copy-text {
        width: auto;
    }

    .icebreaker-menu-button {
        display: block;
    }
}



/* Tablets */
@media (min-width: 576px) and (max-width: 991.98px) {
.icebreakers-wrapper {
    padding: 24px 12px 16px 16px;
}

.icebreaker-tiles-wrapper {
    overflow-y: scroll;
    flex-wrap: nowrap;
    gap: 12px;
    /* padding: 12px 12px 12px 12px; */
    flex-direction: column;
}

.icebreaker-tile {
    padding: 32px 16px 32px 16px;
}

.copy-text {
    width: auto;
}

.chat-wrapper {
    padding-bottom: 16px;
}
}

/* Large Devices (LG) */
@media (min-width: 992px) and (max-width: 1199.98px) {
.icebreakers-wrapper {
    background-color: transparent;
 }
}

/* Extra Large Devices (XL) */
@media (min-width: 1200px) and (max-width: 1600px) {
.icebreakers-wrapper {
    background-color: transparent;
}
}