
/* START PROJECTS */

.projects-wrapper {
    box-sizing: border-box;
    width: calc(75% - 32px);
    margin-left: calc(25% + 32px);
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

.project-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-header img {
    display: inline-block;
    max-width: 40px;    
    align-content: center;
}

.project-title-wrapper {
    display: flex;
    flex-direction: column;
}

.project-card-wrapper {
    perspective: 3000px;
    perspective-origin: 50% 0;
    position: relative;
}

.front-card {
    height: 15vh;
    background-color: rgb(23, 23, 24);
    border: 1px solid rgba(120, 120, 120, 0.2);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 16px;
    position: relative;
    z-index: 6;
    transform-origin: 50% 100%;
    cursor: pointer;
}

.front-card-active {
    height: auto;
}

.project-description {
    display: none;
    padding: 56px 0px 0px 0px;
}

.accordion-1 {
    height: 15vh;
    width: 100%;
    background-color: rgba(0, 183, 85, 0.855);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    z-index: 5;
    transform-origin: 50% 100%;
}

.accordion-2 {
    height: 15vh;
    width: 100%;
    background-color: rgba(183, 6, 0, 0.855);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    z-index: 4;
    transform-origin: 50% 100%;
}

.accordion-3 {
    height: 15vh;
    width: 100%;
    background-color: rgba(95, 0, 183, 0.855);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    z-index: 3;
    transform-origin: 50% 100%;
}

.accordion-4 {
    height: 15vh;
    width: 100%;
    background-color: rgba(183, 0, 177, 0.855);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    z-index: 2;
    transform-origin: 50% 100%;
}

.accordion-5 {
    height: 15vh;
    width: 100%;
    background-color: rgba(0, 64, 183, 0.855);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    z-index: 2;
    transform-origin: 50% 100%;
}

.first {
    margin-top: 24px;
}

.project-header h2 {
    margin-bottom: 0;
}

#manager-portal {
    margin-bottom: 8px;
}

/* MEDIA QUERIES */

/* Mobile Screens */
@media (max-width: 578px) {
    .accordion-1, .accordion-2, .accordion-3, .accordion-4 {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .projects-wrapper {
        width: 100%;
        margin: 0px;
        padding: 0px 8px 0px 8px;
        order: 3;
    }
  }

  /* Large Devices (LG) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .projects-wrapper {
        margin-left: calc(30% + 24px);
        width: calc(70% - 24px);
    }
  }
  
  /* Extra Large Devices (XL) */
  @media (min-width: 1200px) and (max-width: 1600px) {
    .projects-wrapper {
        width: calc(75% - 32px);
        margin-left: calc(25% + 32px);
    }
  }
 
