@font-face {
    font-family: Stabil-Grotesk;
    font-weight: 900;
    src: url(./fonts/stabil/StabilGroteskTrial-Black.otf);
}

@font-face {
    font-family: Stabil-Grotesk;
    font-weight: 800;
    src: url(./fonts/stabil/StabilGroteskTrial-Bold.otf);
}

@font-face {
    font-family: Stabil-Grotesk;
    font-weight: 700;
    src: url(/fonts/stabil/StabilGroteskTrial-Medium.otf);
}

@font-face {
    font-family: Stabil-Grotesk;
    font-weight: 500;
    src: url(fonts/stabil/StabilGroteskTrial-Light.otf);
}

