/* START TYPOGRAPHY */

@import url(fonts.css);

h1 {
    font-family: "Stabil-Grotesk";
    font-weight: 600;
    font-size: 64px;
    margin: 0;
}

h2 {
    font-family: "Stabil-Grotesk";
    font-weight: 700;
}

h3, h4, h5, h6 {
    font-family: "Stabil-Grotesk";
    font-weight: 600;
}

p {
    font-family: "Satoshi-Variable";
    font-weight: 400;
}

/* START SITE STYLES + LAYOUT */

body {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    gap: 64px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 24px;
}

/* START SITE TITLE CARD STYLES */

.site-title-wrapper {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
border-radius: 16px;
padding: 16px;
height: 55vh;
background-color:mediumslateblue;
margin-bottom: 8px;
}

.site-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 16px;
    padding: 16px;
    height: 55vh;
    background-color: rgb(216, 162, 91);
    margin-bottom: 8px;
    }
/* #gradient-container {
background: radial-gradient(ellipse at right, #FF4D4D, #4D4DFF);
} */

/* START BACKGROUND GRADIENT */

#gradient-canvas {
    --gradient-color-1: #141414; 
    --gradient-color-2: #212121; 
    --gradient-color-3: #1b1b1b;  
    --gradient-color-4: #151515;
    position: fixed;
    z-index: -1;
}