/* START CASE STUDY */

.case-study {
    display: none;
    flex-direction: column;
    gap: 12px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease; 
}

.case-study-divider {
    height: auto;
    background-color:  rgba(0, 183, 85, 0.855);
    border-radius: var(--border-radius);
    padding: 64px;
}

.case-study-slide {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding: 80px; 
    gap: 48px;
    height: 48vh; 
    border-radius: var(--border-radius);
    /* background-color: #DB9559;  */
    color: black;
}

#auto-height {
    height: auto;
}

.study-split-heading-wrapper {
    display: flex; 
    flex-direction: row; 
    gap: 10%;
}

.study-columns-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.end-study {
    height: auto;
    padding: 24px;
    /* white-space: nowrap;   */
    text-align: center; 
    border-radius: 500px;
    color: black;
    margin-bottom: 16px;
}

.end-study h4 {
    font-weight: 600;
}

.case-study-slide img {    
    display: flex;
    align-content: center;
    max-width: 100%;
    margin: auto;
    border-radius: var(--border-radius);
}

.case-study-split-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.case-study-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 24px 40px 24px;
    border-radius: var(--border-radius);
}

.case-study-portrait-text-wrapper {
    align-items: center;
    padding: 80px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-around;
    gap: 24px;
    border-radius: var(--border-radius);
    color: black;
}

.case-study-split-wrapper img {
    max-width: 65%;
    border-radius: var(--border-radius);
    margin: auto;
}

.case-study img {
    border-radius: var(--border-radius);
}

.scrolling-img-wrapper {
    overflow-y: scroll;
    -webkit-mask-image: url(/static/images/white-device-frame.svg);
    mask-image: url(/static/images/white-device-frame.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    height: 99%;
}

.eyebrow {
    margin-bottom: 48px;
}

.video {
    max-width: 65%;
}

.case-study-three-up-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.case-study-metric {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: 64px 20px 64px 20px;
    gap: 16px;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: rgb(22, 18, 18);   
}

.case-study-metric h3 {
    font-weight: 700;
}


/* Breakpoints */

@media (max-width: 575.98px) {
    .case-study-slide {
        padding: 56px 24px 56px 24px;
        height: auto;
        gap: 24px;
    }

    /* .case-study-slide h3 {
        font-size: var(--font-size-1)0;
    } */

    .study-split-heading-wrapper {
        gap: 8px;
    }

    .case-study-split-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .case-study-three-up-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .case-study-metric {
        padding: 16px;
        gap: 8px;
    }

    .case-study-portrait-text-wrapper {
        padding: 40px 24px 40px 24px;
    }

    .case-study-img-wrapper {
        max-height: 65vh;
    }

    .case-study-img-wrapper img {
        max-height: 100%;
        /* max-width: fit-content; */
    }

    .video {
        max-height: 100%;
        /* max-width: fit-content; */
    }

    #amenity-interaction-video {
        order: 1;
    }

    #re-order {
        order: 2;
    }

    .study-columns-wrapper {
        gap: 16px;
    }
}

@media (min-width: 576px) and (max-width: 759.98px) {
    /* .case-study-slide h3 {
        font-size: 20px;
    } */
}

@media (min-width: 576.98px) and (max-width: 991.98px) {
    .case-study-slide {
        padding: 64px;
        height: 45vh;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .case-study-portrait-text-wrapper {
        padding: 80px 40px 80px 40px;
    }

    .case-study-slide {
        padding: 80px 64px 80px 64px;
    }
}
