@import url(fonts.css);

/* .aside-absolute {
  position: absolute;
  width: calc(24% - 16px);
  right: 0;
}

.aside-wrapper {
  box-sizing: border-box;
  height: 100vh;
  align-self: flex-start;
  position: fixed;
  top: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 32px;
  margin-right: 16px;
}

.aside-wrapper p {
  color: #f3f3f3;
} */

.chat-wrapper {
  position: relative;
  max-width: 100%;
  max-height: 45vh;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-radius);
  padding: 8px 0px 8px 0px;
  margin-bottom: 8px;
}

#chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  padding: 0px 0px 1px 0px;
}

/* Chat display area styles */
#chat-display {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  overflow-x: hidden; 
  gap: 8px;
}

#chat-display * {
  overflow-anchor: none; 
}

#chat-display-anchor {
  overflow-anchor: auto;
  min-height: 24px;
  order: 3;
}

/* User message styles */
.user-message {
  margin-bottom: 8px;
  font-size: var(--font-size-2);
  font-family: 'Satoshi-Variable';
  color: #a2a2a2;
}

/* Bot message styles */
.bot-message {
  margin-bottom: 8px;
  font-size: var(--font-size-2);
  font-family: 'Satoshi-Variable';
  position: relative;
}

/* .bot-word {
  display: none;
} */

#pill-text {
  font-size: var(--font-size-2);
  font-weight: 600;
  color: black;
}

.pill {
  background-color: white;
  position: relative;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  margin-bottom: 16px;
  width: max-content;
}

/* User input field styles */
#user-input {
  width: 90%;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  white-space: break-spaces; /* Allow text to wrap and use vertical scrollbar */
  overflow-y: auto; /* Show vertical scrollbar when necessary */
  overflow-x: hidden;
}

input:focus {
  outline: none;
  color: white;
}

input {
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

input[type=text] {
  color: white;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: #151515;
  border-radius: var(--border-radius);
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 56px;
  max-height: 56px;
  margin: 16px 1px 0px 1px;
}

form:hover {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

form:focus-within { 
  outline: 1px solid white; 
}

/* Submit button styles */
.submit-button {
  width: 28px;
  height: 28px;
  background-image: url(/static/images/send.svg);
  background-repeat: no-repeat; 
  background-color: transparent;
  background-size: contain;
  border: none;
  margin: 0px 12px 6px 0px;
  transition: background-color 0.2s ease;
  transform: rotate(-45deg);
  transition: .4s ease-in;
  cursor: pointer;
}

.submit-button:hover {
  transform: rotate(-90deg);
  transition: .4s ease-in-out;
}

/* Define the blinking cursor animation */
@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

#cursor {
  display: none;
  width: 0.5em;
  height: 1.5em;
  animation: blink 1s infinite;
  order: 1;
}


/* MEDIA QUERIES */ 

/* Extra Small Devices */

@media (max-width: 575.98px) {
  .aside-wrapper {
    overflow-y: auto;
  }

  .main {
    overflow-y: auto;
  }
}

/* All Mobile Devices (XS) */
@media (max-width: 991.98px) {
  .aside-wrapper {
      position: relative;
      display: none;  /* display on click */
      width: 100%;
      background: transparent;  
      border: none;
      border-radius: 0;
      order: 2;
      padding-top: 64px;
      max-height: 95vh;
      padding-bottom: 2px;
  }

  .chat-wrapper {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    border: none;
    min-height: 80%;
    background-color: transparent;
    padding: 8px 16px 16px 12px;
    margin-bottom: 0px;
  }

  #chat-display { 
    height: 65vh;
  }

  #chat-form {
    flex-shrink: 1;
    box-sizing: border-box;
    min-height: 50px;
    margin-right: 1px;
    margin-top: 12px;
  }

  #user-input {
    font-size: 16px;
  }

  .submit-button {
    width: 20px;
    height: 20px;
  }

  .pill {
    display: none;
  }

  #welcome-message {
    font-size: var(--font-size-4);
    font-weight: 500;
  }
}

/* TABLETS */
@media (min-width: 576px) and (max-width: 991.98px) {
#welcome-message {
  font-size: var(--font-size-4);
  font-weight: 500;
}

.chat-wrapper {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.bot-message {
  max-width: 100%;
}
}

/* Large Devices (LG) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .aside-absolute {
    width: calc(30% - 16px);
  }
  
  .aside-wrapper {
    margin-right: 16px;
  }
}

/* Extra Large Devices (XL) */
@media (min-width: 1200px) and (max-width: 1600px) {
  /* .aside-wrapper {
    width: 25%;
  } */
}

@media (min-width: 1599px) {
  .aside-wrapper {
    width: 384px;
    max-width: 384px;
    margin-right: 32px;
  }
}

@media (min-width: 996px) and (max-width: 1199.98px) {
  /* the chat and site title share hero placement, icebreakers go in hidden wrapper 
  with a menu button. menu slides up over aside-wrapper. click question to submit. 
  menu dismisses on click. full width about section / footer*/
}