/* Define the blinking cursor animation */
@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  #cursor {
    display: none;
    width: 0.5em;
    height: 1.5em;
    animation: blink 1s infinite;
    order: 1;
  }

  #overview_tile {
    --gradient-color-1: #F56846;
    --gradient-color-2: #EBC2FE;
    --gradient-color-3: #FFE486;
    --gradient-color-4: #1CA65C;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }