.icebreakers-wrapper {
    position: relative;
    overflow-y: hidden;
    padding: 0px 16px 0px 16px;
}

.icebreaker-tiles-wrapper {
    height: 90%;
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 12px;
    padding-bottom: 12px;
    padding-top: 2px;
}

.icebreaker-tile {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: #151515;
    border: 1px solid rgba(120, 120, 120, 0.2);
    cursor: pointer;
    user-select: none; /* Prevent text selection on double click */
    position: relative;
    flex: 1 1 48%;
    /* height: 15.5vh; */
}

.icebreaker-tile h6 {
    font-size: calc(1rem + 2px);
    font-weight: 400;
    text-transform: none;
    color: rgb(255, 255, 255);
}

.icebreaker-tile:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.copy-text {
    font-family: "Satoshi-Variable";
    font-size: 1rem;
    font-weight: 400;   
    color: white;
    max-width: 80%;
    opacity: 1; /* Set initial opacity to 1 */
    transition: opacity 0.15s; /* Add transition for smooth animation */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 24, 0.7);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hide the overlay */
    pointer-events: none; /* Make the overlay not block clicks on the tile */
}

.overlay div {
    font-size: 1rem;
    font-family: 'Satoshi-Variable';
}

.copied .copy-text {
    opacity: 0.7; /* Animate the opacity to 0 when .copied class is added */
}

.copied .overlay {
    opacity: 1;
    transition: opacity 0.2s; /* Add transition for smooth animation */
}

.icebreaker-tile {
    color: white; 
}

.overlay h4 {
    color: #fff;
}

.icebreaker-menu-button {
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    border-radius: 12px;
    background-color: #151515;
    border: 1px solid rgba(120, 120, 120, 0.2);
    font-size: 1rem;
    font-family: "Satoshi-Variable";
    color: white;
    font-weight: 400;
}

.icebreaker-mobile-header {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 12px 12px 12px;
    align-items: center;
}

.close-icebreaker-button {
    height: 32px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    
    color: black;
    cursor: pointer;
}

/* MEDIA QUERIES */


/* Small Devices  */

@media (max-width: 450px) {
    .icebreaker-tile {
    flex: 1 1 100%;
    }
}

@media (min-width: 451px) and (max-width: 991.98px) {
    .icebreaker-tile {
        flex: 1 1 40%;
    }
    
}
/* All Mobile Devices */
@media (max-width: 991.98px) {
    .icebreakers-wrapper {
        display: none;
        position: fixed;
        flex-direction: column;
        bottom: -100vh;
        padding-top: 8px;
        padding-bottom: 16px;   
        z-index: 1000;
        /* height: 80vh; */
        max-height: 80vh;
        border-radius: 12px 12px 0px 0px;
        background-color: black;
        border-top: 1px solid rgba(120, 120, 120, 0.5);
        border-right: 1px solid rgba(120, 120, 120, 0.5);
        border-left: 1px solid rgba(120, 120, 120, 0.5);
        border-bottom: 0px;
        backdrop-filter: blur(10px);
    }

    .icebreaker-tiles-wrapper {
        gap: 12px;
        padding: 0px 12px 12px 12px;
        /* height: 80vh; */
    }

    .icebreaker-tile {
        min-width: 40%;
        padding: 24px;
        height: fit-content;
    }
    
    .copy-text {
        width: auto;
    }

    .icebreaker-menu-button {
        display: block;
        cursor: pointer;
    }

    .icebreaker-mobile-header {
        display: flex;
        padding-bottom: 24px;
    }

    .icebreaker-mobile-header h4 {
        font-weight: 500;   
    }
}

/* Large Devices (LG) */
@media (min-width: 992px) and (max-width: 1199.98px) {
.icebreakers-wrapper {
    background-color: transparent;
 }
}

/* Extra Large Devices (XL) */
@media (min-width: 1200px) and (max-width: 1600px) {
.icebreakers-wrapper {
    background-color: transparent;
}
}