
/* START PROJECTS */

.projects-wrapper {
    box-sizing: border-box;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

.project-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-title-wrapper h2 {
    flex-shrink: 1;
}

.project-title-wrapper h5 {
    font-weight: 400;
    white-space: nowrap;
}

.project-card-wrapper {
    perspective: 3000px;
    perspective-origin: 50% 0;
    position: relative;
}

.front-card {
    background-color: #151515;
    border: 1px solid rgba(120, 120, 120, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 56px 32px 56px 32px;
    border-radius: var(--border-radius);
    position: relative;
    z-index: 6;
    transform-origin: 50% 100%;
    width: 100%;
    cursor: pointer;
}

.front-card-active {
    height: auto;
}

.project-description {
    display: none;
    padding: 48px 0px 0px 0px;
}

.project-description h1 {
    font-weight: 500;
}

.project-description h3 {
    font-weight: 400;
}

.accordion-1 {
    height: 100px;
    width: 100%;
    border-radius: 16px;
    position: absolute;
    top: 0;
    z-index: 5;
    transform-origin: 50% 100%;
}

.accordion-2 {
    height: 100px;
    width: 100%;
    border-radius: 16px;
    position: absolute;
    top: 0;
    z-index: 4;
    transform-origin: 50% 100%;
}

.accordion-3 {
    height: 100px;
    width: 100%;
    border-radius: 16px;
    position: absolute;
    top: 0;
    z-index: 3;
    transform-origin: 50% 100%;
}

.project-header h2 {
    margin-bottom: 0;
}

/* #manager-portal {
    margin-bottom: 0px;
} */


/* Accordion styles by project id */

/* SOLUTIONS */
#solutions .accordion-1 {
    background-image: url(/static/images/solutions/solutions\ accordion\ 1.png);
    background-size: contain;   
}

#solutions .accordion-2 {
    background-image: url(/static/images/solutions/solutions\ accordion\ 3.png);
    background-size: contain;
}

#solutions .accordion-3 {
    background-image: url(/static/images/solutions/solutions\ accordion\ 2.png);
    background-size: contain;
}

/* FIELD REPRTS */
#field-reports .accordion-1 {
    background-image: url(/static/images/fields/fields\ accordion\ 02.png);
    background-size: contain;
}

#field-reports .accordion-2 {
    background-image: url(/static/images/fields/fields\ accordion\ 03.png);
    background-size: contain;
}

#field-reports .accordion-3 {
    background-image: url(/static/images/fields/fields\ accordion\ 01.png);
    background-size: contain;
}

/* SMORES */
#smores .accordion-1 {
    background-image: url(/static/images/smores/smores\ accordion\ 01.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#smores .accordion-2 {
    background-image: url(/static/images/smores/smores\ accordion\ 02.png);
    background-size: contain;
}

#smores .accordion-3 {
    background-image: url(/static/images/smores/smores\ accordion\ 03.png);
    background-size: contain;
}


/* Brand First */
#brand .accordion-1 {
    background-image: url(/static/images/brand/brand\ accordion\ 01.png);
    background-size: contain;   
}

#brand .accordion-2 {
    background-image: url(/static/images/brand/brand\ accordion\ 02.png);
    background-size: contain;   
}

#brand .accordion-3 {
    background-image: url(/static/images/brand/brand\ accordion\ 03.png);
    background-size: contain; 
}

/* Mobile Screens */
@media (max-width: 578px) {
    .accordion-1, .accordion-2, .accordion-3, .accordion-4 {
        display: none;
    }

    .front-card {
        padding: 32px 24px 32px 24px;
    }

    .project-title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .front-card {
        padding: 56px 32px 56px 32px;
    }    
}

@media (max-width: 991.98px) {
    .projects-wrapper {
        width: 100%;
        margin: 0px 0px 16px;
        padding: 16px 8px 0px 8px;
        order: 3;
    }

    .project-description {
        display: none;
        padding: 48px 0px 0px 0px;
        max-width: 100%;
    }
  }

  /* Large Devices (LG) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .projects-wrapper {
        width: 69%;
    }
  }
  
  /* Extra Large Devices (XL) */
  @media (min-width: 1200px) and (max-width: 1600px) {
    .projects-wrapper {
        width: 75%;
    }
  }
 
