@import url(fonts.css);

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}


/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Satoshi-Variable';
}

:root {    
    --font-size-0: 1rem;
    --font-size-1: calc(1rem + 8px);
	--font-size-2: 1.2em;
	--font-size-3: 1.44rem;
	--font-size-4: 1.728rem;
    --font-size-5: 2.074rem;
    --font-size-6: 2.488rem;
    --border-radius: 16px;
}

h1 {
	font-size: var(--font-size-6);
}
h2 {
	font-size: var(--font-size-5);
}
h3 {
	font-size: var(--font-size-4);
    font-weight: 400;
}
h4 {
	font-size: var(--font-size-3);
    font-weight: 400;
}
h5 {
	font-size: var(--font-size-1);
}

h6 {
	font-size: var(--font-size-0);
    text-transform: uppercase;

}
p {
    font-size: var(--font-size-1);
    font-weight: 400;
}
body {
    box-sizing: border-box;
}

/* LAYOUT */
body {
    color: #fff;
    position: relative;
    margin: 0px;
}

.main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    max-width: 1600px;
}

.mobile-nav {
    display: none;
}

/* SITE TITLE */
.site-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: calc(55vh + 64px); 
    /* no padding allowed inside title wrapper because of canvas, 
    need calc vh + padding of chat container (left) for vertical alignment */ 
    margin-bottom: 16px;
    position: relative;
    width: calc(75% - 32px);
    margin-left: calc(25% + 32px);
    border-radius: var(--border-radius);
}

#site-title-img {
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
}

#site-title-details-img {
    margin-right: 16px;
    margin-bottom: 16px;
}

.footer-wrapper {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: fit-content;
    /* no padding allowed inside title wrapper because of canvas, 
    need calc vh + padding of chat container (left) for vertical alignment */ 
    margin-bottom: 16px;
    position: relative;
    width: calc(75% - 32px);
    margin-left: calc(25% + 32px);
    border-radius: var(--border-radius);
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 64px;
    row-gap: 64px;
    padding: 80px;
}

.contact-link {
    grid-column: 1/5; 
    border-bottom: 1px solid black; 
    margin-top: 80px; 
    padding-bottom: 8px; 
    display: flex; 
    flex-direction: row; 
    gap: 12px; 
    cursor: pointer; 
    color: black; 
    text-decoration: none;
}

/* GRADIENTS */

#gradient-canvas {
    --gradient-color-1: #0d0d0d; 
    --gradient-color-2: #080707; 
    --gradient-color-3: #322f2f;  
    --gradient-color-4: #030303;
    position: fixed;
    z-index: -1;
}

#site-title-background {
    --gradient-color-1: #F56846;
    --gradient-color-2: #EBC2FE;
    --gradient-color-3: #FFE486;
    --gradient-color-4: #1CA65C;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

#footer-background {
    --gradient-color-1: #1CA65C;
    --gradient-color-2: #FFE486;
    --gradient-color-3: #EBC2FE;
    --gradient-color-4: #F56846;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

/* All Mobile Devices (XS) */
@media (max-width: 991.98px) {
.main {
    padding: 0px 0px 4px 0px;
    display: flex;
    flex-direction: column;
}

.mobile-nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    /* width: calc(100% - 16px); */
    height: 40px;
    top: 12px;
    border-radius: 8px;
    z-index: 500;
    right: 0%;
    left: 0%;
    margin: auto;
    justify-content: space-around;
    background-color: rgba(255,255,255,.7);
    backdrop-filter: blur(10px);
    font-family: 'Satoshi-Variable';
    text-transform: lowercase;
    color: black;
    cursor: pointer;
}

.projects-link {
    position: relative;
    z-index: 10;
    width: 33%;
    border-radius: 8px;
    text-align: center;
    padding: 8px;
}

.chat-link {
    position: relative;
    z-index: 10;
    width: 33%;
    text-align: center;
    padding: 8px;
}

.about-link {
    position: relative;
    z-index: 10;
    width: 33%;
    text-align: center;
    padding: 8px;
}

.active-link {
    position: absolute;
    left: 0%;
    width: 33%;
    height: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(23,23,23,0.15);
    pointer-events: none;
    transition: all .3s ease-out;
}

.footer-wrapper {
    display: none;
    border-radius: 0px;
    width: 100%;
    margin: auto;
    /* padding: 0px 8px 0px 8px; */
    min-height: 100vh;
    height: max-content;
}

.footer-content {
    padding: 48px;
    grid-template-columns: 1f;
    display: grid;
    flex-direction: column;
    gap: 48px;
}

#footer-background {
    border-radius: 0px;
}

.contact-link {
    grid-column: 1/5; 
    /* border-bottom: 1px solid white;  */
    margin-top: 56px; 
    padding-bottom: 8px;
    margin-bottom: 24px;
    display: flex; 
    flex-direction: row; 
    gap: 12px; 
    cursor: pointer; 
    text-decoration: none;
    }
}

/* Mobile Devices */
@media (max-width: 575.98px) {
    :root {
        --font-size-0: .8rem;
        --font-size-1: 1rem;
        --font-size-2: 1.1rem;
        --font-size-3: 1.2rem;
        --font-size-4: 1.3rem;
        --font-size-5: 1.5rem;
        --font-size-6: 1.6rem;
        --border-radius: 12px;
    }
    
    .mobile-nav {
        font-weight: 500;
        width: calc(100% - 40px);
    }

    .site-title-wrapper {
        height: 70vh;
        margin: 0px;
        width: 100%;
        border-radius: none;
    }
    
    #site-title-img {
        width: 55%;
    }
        
    #site-title-details-img {
        width: 25%;
    }   
    
    #site-title-background {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .footer-content {
        margin-top: 70px;
    }
}

/* Small-Medium Devices */
@media (min-width: 576px) and (max-width: 759.98px) {
    :root {
        --font-size-0: .8rem;
        --font-size-1: calc(1rem + 4px);
        --font-size-2: 1.2rem;
        --font-size-3: 1.2rem;
        --font-size-4: 1.6rem;
        --font-size-5: 1.9rem;
        --font-size-6: 2.2rem;
        --border-radius: 12px;
    }

    .mobile-nav {
        font-weight: 500;
        width: calc(100% - 40px);
    }
    
    .site-title-wrapper {
        height: 70vh;
        margin: 0px;
        width: 100%;
        border-radius: none;
    }
    
    #site-title-img {
        width: 45%;
    }
        
    #site-title-details-img {
        width: 20%;
    }   
    
    #site-title-background {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}

/* Medium Devices */
@media (min-width: 760px) and (max-width: 991.98px) {
    :root {
        --font-size-0: .8rem;
        --font-size-1: calc(1rem + 6px);
        --font-size-2: 1.2rem;
        --font-size-3: 1.2rem;
        --font-size-4: 1.6rem;
        --font-size-5: 1.9rem;
        --font-size-6: 2.2rem;
        --border-radius: 12px;
    }

    .site-title-wrapper {
        height: 70vh;
        margin: 0px;
        width: 100%;
        border-radius: none;
    }
    
    #site-title-img {
        width: 45%;
    }
        
    #site-title-details-img {
        width: 15%;
    }   
    
    #site-title-background {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .mobile-nav {
        width: calc(100% - 32px);
    }
}

/* Large Devices (LG) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main {
        margin-left: 16px;
        margin-right: 16px;
        padding-top: 16px;
    }
    .site-title-wrapper {
        margin-left: calc(30% + 24px);
        width: calc(70% - 24px);
    }

    .footer-wrapper {        
        margin-left: calc(30% + 24px);
        width: calc(70% - 24px);
    }

    :root {
    --font-size-1: calc(1rem + 6px);
    --font-size-2: 1.2rem;
    --font-size-3: 1.2rem;
    --font-size-4: 1.6rem;
    --font-size-5: 1.9rem;
    --font-size-6: 2.2rem;
    }
}

/* Extra Large Devices (XL) */
@media (min-width: 1200px) and (max-width: 1600px) {
    .main {
        margin-left: 16px;
        margin-right: 16px;
    }

    .footer-wrapper {        
        width: calc(75% - 32px);
        margin-left: calc(25% + 32px);
    }
}

@media (min-width: 1599.8px) {
    .main {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
}