@import url(fonts.css);

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
    background: black;
}

button {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: inherit;
    color: white;
    width: unset;
    text-align: unset;
    margin: unset;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Satoshi-Variable';
}

:root {    
    --font-size-0: 1rem;
    --font-size-1: calc(1rem + 8px);
	--font-size-2: 1.2em;
	--font-size-3: 1.44rem;
	--font-size-4: 1.728rem;
    --font-size-5: 2.074rem;
    --font-size-6: 2.488rem;
    --border-radius: 16px;
}

h1 {
	font-size: var(--font-size-6);
}
h2 {
	font-size: var(--font-size-5);
}
h3 {
	font-size: var(--font-size-4);
    font-weight: 400;
}
h4 {
	font-size: var(--font-size-3);
    font-weight: 400;
}
h5 {
	font-size: var(--font-size-1);
}

h6 {
	font-size: var(--font-size-0);
    text-transform: uppercase;

}
p {
    font-size: var(--font-size-1);
    font-weight: 400;
}
body {
    box-sizing: border-box;
    position: relative;
}

/* page load */
#loading-wrapper {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-top {
    background-color: black;
    height: 50%;
    width: 100%;
    transform-origin: top;
}

.loading-top.animate {
    animation: scaleLoading 800ms ease-in-out 1300ms 1 forwards;
}

.loading-bottom {
    background-color: black;
    height: 50%;
    width: 100%;
    transform-origin: bottom;
}

.loading-bottom.animate {
    animation: scaleLoading 800ms ease-in-out 1300ms 1 forwards;
}

.loading-ruler {
    background-color: #e9e2e2;
    width: 100%;
    height: 1px;
    transform-origin: center center;
    opacity: 0;
    z-index: 1;
    position: absolute;
}

.loading-ruler.animate {
    animation: scaleRuler 1300ms ease-in-out;
}

@keyframes scaleRuler {
    0% {
        opacity: 1;
        transform: scaleX(0);
      }

    85% {
        opacity: .5;
    }

    95% {
        opacity: 0;
    }
    
    100% {
        transform: scaleX(1);
        opacity: 0;
      }
}

@keyframes scaleLoading {
    0% {
        transform: scaleY(1);
    }
    
    100% {
        transform: scaleY(0);
    }
}

/* LAYOUT */
body {
    color: #fff;
    position: relative;
    margin: 0px;
    overflow: hidden;
}

.main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    max-width: 1600px;
}

.mobile-nav {
    display: none;
}

/* SITE TITLE */
.site-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: fit-content;
    /* no padding allowed inside title wrapper because of canvas, 
    need calc vh + padding of chat container (left) for vertical alignment */ 
    margin-bottom: 16px;
    position: relative;
    width: calc(75% - 32px);
    margin-left: calc(25% + 32px);
    border-radius: var(--border-radius);
    color: black;
}

.title-text {
    display: flex;
    flex-direction: column;
    margin: 48px;
}

.title-text h1 {
    font-size: 164px;
    font-weight: 500;
    line-height: 115%;
}

.subtitle-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#subtitle {
    font-size: 20px;
    max-width: 40%;
}

#title-1 { 
    margin-left: 5%;
}

#title-2 {
    margin-right: 5%;
}

#title-3 { 
    margin-left: 20%;
}

.footer-wrapper {
    color: white;
    display: flex;
    /* no padding allowed inside title wrapper because of canvas, 
    need calc vh + padding of chat container (left) for vertical alignment */ 
    margin-bottom: 16px;
    position: relative;
    width: calc(75% - 32px);
    margin-left: calc(25% + 32px);
    border-radius: var(--border-radius);
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 164px 32px 32px 32px;
    width: 100%;
}

.contact-link {
    display: flex; 
    flex-direction: row; 
    gap: 12px; 
    cursor: pointer; 
    color: black; 
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

.footer-copyright {
    font-size: 1rem;
    font-family: 'Satoshi-Variable';
    color: black;
    padding-bottom: 4px;
}
/* GRADIENTS */

#gradient-canvas {
    --gradient-color-1: #0d0d0d; 
    --gradient-color-2: #080707; 
    --gradient-color-3: #322f2f;  
    --gradient-color-4: #030303;
    position: fixed;
    z-index: -1;
}

#site-title-background {
    --gradient-color-1: #F56846;
    --gradient-color-2: #EBC2FE;
    --gradient-color-3: #FFE486;
    --gradient-color-4: #1CA65C;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

#footer-background {
    --gradient-color-1: #1CA65C;
    --gradient-color-2: #FFE486;
    --gradient-color-3: #EBC2FE;
    --gradient-color-4: #F56846;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

/* All Mobile Devices (XS) */
@media (max-width: 991.98px) {
.main {
    padding: 0px 0px 4px 0px;
    display: flex;
    flex-direction: column;
}

.mobile-nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    /* width: calc(100% - 16px); */
    height: 40px;
    top: 12px;
    border-radius: 8px;
    z-index: 500;
    right: 0%;
    left: 0%;
    margin: auto;
    justify-content: space-around;
    background-color: rgba(255,255,255,.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-family: 'Satoshi-Variable';
    text-transform: lowercase;
    color: black;
    cursor: pointer;
}

.projects-link {
    position: relative;
    z-index: 10;
    width: 50%;
    border-radius: 8px;
    text-align: center;
    padding: 8px;
    color: black;
}

.chat-link {
    position: relative;
    z-index: 10;
    width: 50%;
    text-align: center;
    padding: 8px;
    color: black;
}

.active-link {
    position: absolute;
    left: 0%;
    width: 50%;
    height: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(23,23,23,0.15);
    pointer-events: none;
    transition: all .3s ease-out;
}

.footer-wrapper {
    border-radius: 0px;
    width: 100%;
    margin: auto;
    order: 3;
}

.footer-content {
    padding: 64px 48px 48px 48px;
}

#footer-background {
    border-radius: 0px;
}

.contact-link {
    display: flex; 
    flex-direction: row; 
    gap: 12px; 
    cursor: pointer; 
    text-decoration: none;
    }
}

/* Mobile Devices */
@media (max-width: 575.98px) {
    :root {
        --font-size-0: .8rem;
        --font-size-1: 1rem;
        --font-size-2: 1.1rem;
        --font-size-3: 1.2rem;
        --font-size-4: 1.3rem;
        --font-size-5: 1.5rem;
        --font-size-6: 1.6rem;
        --border-radius: 12px;
    }
    
    .mobile-nav {
        font-weight: 500;
        width: calc(100% - 40px);
    }

    .site-title-wrapper {
        height: fit-content;
        padding-top: 120px;
        margin: 0px;
        width: 100%;
        border-radius: none;
    }
    
    #site-title-background {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .title-text {
        flex-direction: column;
        gap: 12px;
        margin: 24px;
    }

    .title-text h1 {
        font-size: 18vw;
    }
    
    #title-1 {
        max-width: none;
    }
    
    .subtitle-text {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .title-text p {
        max-width: none;
        min-width: 100%;
    }

    #subtitle {
        font-size: 14px;
    }
    #title-2 {
        width: 100%;
        text-align: right;
        margin-right: 0;
    }

    #title-3 {
        margin-left: 15%;
    }

    .footer-content {
        margin-top: 70px;
        padding: 48px 24px 48px 24px;
    }
}

/* Small-Medium Devices */
@media (min-width: 576px) and (max-width: 759.98px) {
    :root {
        --font-size-0: .8rem;
        --font-size-1: calc(1rem + 4px);
        --font-size-2: 1.2rem;
        --font-size-3: 1.2rem;
        --font-size-4: 1.6rem;
        --font-size-5: 1.9rem;
        --font-size-6: 2.2rem;
        --border-radius: 12px;
    }

    .mobile-nav {
        font-weight: 500;
        width: calc(100% - 40px);
    }
    
    .site-title-wrapper {
        height: fit-content;
        margin: 0px;
        padding-top: 120px;
        width: 100%;
        border-radius: none;
    }
    
    #site-title-background {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .title-text {
        display: flex;
        flex-direction: column;
        margin: 56px 40px;
    }
    
    .title-text h1 {
        font-size: 14vw;
    }

    #title-1 {
        margin-left: 10%;
    }
    
    .subtitle-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 12px; 
    }
    
    #title-2 {
        margin-right: 2%;
    }

    #subtitle {
        font-size: 16px;
        max-width: 50%;
        text-align: left;
    }
}

/* Medium Devices */
@media (min-width: 760px) and (max-width: 991.98px) {
    :root {
        --font-size-0: .8rem;
        --font-size-1: calc(1rem + 6px);
        --font-size-2: 1.2rem;
        --font-size-3: 1.2rem;
        --font-size-4: 1.6rem;
        --font-size-5: 1.9rem;
        --font-size-6: 2.2rem;
        --border-radius: 12px;
    }
    .site-title-wrapper {
        height: fit-content;
        margin: 0px;
        padding-top: 120px;
        width: 100%;
        border-radius: none;
    }
    
    #site-title-background {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .title-text {
        display: flex;
        flex-direction: column;
        margin: 56px 40px;
    }
    
    .title-text h1 {
        font-size: 13vw;
    }

    #title-1 {
        margin-left: 10%;
    }
    
    .subtitle-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 12px; 
    }
    
    #title-2 {
        margin-right: 2%;
    }

    #subtitle {
        font-size: 16px;
        max-width: 45%;
        text-align: justify;
    }
    
    .mobile-nav {
        width: calc(100% - 32px);
    }
}

/* Large Devices (LG) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main {
        margin-left: 16px;
        margin-right: 16px;
        padding-top: 16px;
    }

    .site-title-wrapper {
        height: calc(60vh + 32px);      
        margin-left: calc(30% + 24px);
        width: calc(70% - 24px);
    }

    .title-text {
        margin: auto 32px auto 32px;
    }

    .title-text h1 {
        font-size: 10vw;
        font-weight: 500;
        line-height: 115%;
    }


    #title-1 {
        margin-left: 10%;
    }

    #title-2 {
        margin-right: 0;
    }

    #subtitle {
        font-size: 16px;
        max-width: 45%;
    }

    .footer-wrapper {        
        margin-left: calc(30% + 24px);
        width: calc(70% - 24px);
    }

    :root {
    --font-size-1: calc(1rem + 6px);
    --font-size-2: 1.2rem;
    --font-size-3: 1.2rem;
    --font-size-4: 1.6rem;
    --font-size-5: 1.9rem;
    --font-size-6: 2.2rem;
    }
}

/* Extra Large Devices (XL) */
@media (min-width: 1200px) and (max-width: 1600px) {
    .main {
        margin-left: 16px;
        margin-right: 16px;
    }

    .footer-wrapper {        
        width: calc(75% - 32px);
        margin-left: calc(25% + 32px);
    }

    .title-text h1 {
        font-size: 10vw;
        font-weight: 500;
        line-height: 115%;
    }

    #subtitle {
        font-size: 16px;
    }
}

@media (min-width: 1599.8px) {
    .main {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
}