{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block content %}

<div class="relative ml-64 pt-32 grid grid-cols-1 sm:grid sm:grid-cols-2 mb-4 xl:h-[650px] w-[1200px]">
    <canvas class="rounded-md" id="overview_tile"></canvas>
    <div class="flex flex-col px-16 pb-16 gap-20 justify-between bg-transparent border-b-[4px] border-zinc-950 sm:border-0">
       <p class="text-6xl md:text-7xl font-extrabold text-zinc-900">Tom Kurzeka</p>
       <p class="md:text-lg lg:text-2xl text-zinc-800">Digital Product Designer</p>
    </div>
</div>
{% endblock content%}