{% import "macros.html" as component %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tom Kurzeka | {% block title %}{% endblock title %}</title>
    <meta property="og:title" content="Tom Kurzeka | Digital Designer" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.heytk.net/static/images/og-image.png" />
    <meta property="og:image:secure_url" content="https://www.heytk.net/static/images/og-image.png" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="640" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image" content="a colorful background with the text 'tom kurzeka digital designer'" />
    <meta property="og:url" content="https://www.heytk.net" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/new.css')}}"/> 
    <script src="/static/js/Gradient.js" ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5N9PQKV7');</script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ET8CW40N7D"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-ET8CW40N7D');
    </script>
</head>
<body class="relative bg-zinc-950">
        {% include "_navigation.html" %}
        {% block content %}
        {% endblock content %}   
        {% include "_footer.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/chat.js"></script>
    <script src="/static/js/time.js" defer></script>
</body>
</html>