{% extends "base.html" %}
{% block title %} Blog {% endblock %}
{% block content %} 
<div class="bg-zinc-900/30 lg:ml-64 py-24 lg:px-4 flex flex-col items-center">
    <div class="pb-8 px-12">
        <h1 class="text-zinc-100 text-4xl md:text-5xl lg:text-6xl font-extrabold text-center mb-4">The Tom Blog</h1>
        <p class="text-zinc-400 text-center">Thoughts on creativity, design, and technology. Occasional life excerpts.</p>
    </div>
    <div class="flex flex-col gap-4 items-center xl:max-w-6xl">
        <section class="max-w-3xl flex flex-col gap-16">
            <article class="grid grid-cols-1 gap-2 px-8 md:grid-cols-2 md:grid-cols-[20%_auto] md:gap-6">
                {% for post in blog %}
                <p class="text-sm text-zinc-400 pt-4"> {{ post.date.strftime("%B %d, %Y") }}</p>
                <a class="flex flex-col gap-1 md:p-3 rounded" href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">
                    <h2 class="text-lg text-zinc-100">{{ post.title }}</h2>
                    <!-- <p class="text-zinc-300">{{ post.preview }}</p> -->
                    <p class="font-medium text-zinc-300">Read more</p>
                </a>
                {% endfor %}
            </article>
        </section>
    </div>    
</div>
{% endblock content%}