{% extends "base.html" %}

{% block content %}
<!-- {{ component.case_study_title(
    "Talk to a robot. Learn about Tom."
 ) }}
  -->


<section class="px-4 lg:px-4 lg:py-48 xl:px-20 xl:py-20 sm:ml-64 flex flex-col gap-4 text-gray-800">
    <!-- chat container holds display and input form?-->
    <div class="bg-blue-200 flex flex-col justify-between p-3 h-[60vh]">
        <!-- chat messages display -->
        <!-- welcome message with blinking cursor, animates on load -->
        <div id="chat-display" class="bg-yellow-300 flex flex-col gap-4 h-full"> 
            <div class="bot-message mb-4" id="welcome-message"></div>
            <div id="cursor">▒</div>
            <div id="chat-display-anchor"></div>
        </div>
        <!-- chat input form -->
        <form id="chat-form" autocomplete="off">
            <div class="flex items-center px-3 py-2 rounded-lg bg-gray-50 dark:bg-gray-700">
                <input id="user-input" data-chat-url="{{url_for('chat')}}" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ask a question or select a suggestion..."></input>
                    <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                    <svg class="w-5 h-5 rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                        <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
                    </svg>
                    <span class="sr-only">Send message</span>
                </button>
            </div>
        </form>
    </div>
</section>



    


    <div class="chat-wrapper">
        <div id="chat-container">
            <div class="bg-gray-100" id="chat-display">
                <div class="bot-message" id="welcome-message"></div>
                <div id="cursor">▒</div>
                <div id="chat-display-anchor"></div>
            </div>
            <form id="chat-form" autocomplete="off">
                <input type="text" id="user-input" data-chat-url="{{ url_for('chat') }}" placeholder="Ask a question or select a suggestion" onblur="this.placeholder='Ask a question or select a suggestion'"/>
                <button class="submit-button" type="submit"></button>
            </form>
        </div>
    </div>
    <button class="icebreaker-menu-button">
        <div>View Suggestions</div>
    </button>
    <section class="icebreakers-wrapper">
        <div class="icebreaker-mobile-header">
            <h4>Suggested Questions</h4>
            <button class="close-icebreaker-button"></button>
        </div>
        <div class="icebreaker-tiles-wrapper">
            <button class="icebreaker-tile" data-tilt>
                <div class="tile-text" id="tile-1">Tell me about Tom's professional experience.</div>
            </button>
            <button class="icebreaker-tile" data-tilt>
                <div class="tile-text" id="tile-2">Does Tom have experience with user research?</div>
            </button>
            <button class="icebreaker-tile" data-tilt>
                <div class="tile-text" id="tile-3">What is Tom looking for in his next role?</div>
            </button>
            <button class="icebreaker-tile" data-tilt>
                <div class="tile-text" id="tile-4">What is Tom's design perpsective?</div>
            </button>
            <button class="icebreaker-tile" data-tilt>
                <div class="tile-text" id="tile-5">What is Tom's perspective on pineapple on pizza?</div>
            </button>
            <button class="icebreaker-tile" data-tilt>
                <div class="tile-text" id="tile-6">What is Tom's design superpower?</div>
            </button>
            <button class="icebreaker-tile" data-tilt>
                <div class="tile-text" id="tile-7">Tell me about Tom's hobbies.</div>
            </button>
            <button class="icebreaker-tile" data-tilt>
                <div class="tile-text" id="tile-8">What is Tom's favorite color?</div>
            </button>
        </div>
    </section>
</div>

{% endblock content %}