<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tom Kurzeka | Designer</title>
    <meta property="og:title" content="Tom Kurzeka | Digital Designer" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.heytk.net/static/images/og-image.png" />
    <meta property="og:image:secure_url" content="https://www.heytk.net/static/images/og-image.png" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="640" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image" content="a mesh gradient with the text 'tom k. digital designer'" />
    <meta property="og:url" content="https://www.heytk.net" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/chat.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/projects.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/icebreakers.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/casestudy.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/fonts.css')}}"/> 
    <!-- Google Tag Manager -->
<!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5N9PQKV7');</script> -->
    <!-- Google tag (gtag.js) -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-ET8CW40N7D"></script> -->
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ET8CW40N7D');
    </script>
    <script src="/static/js/Gradient.js" ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js" integrity="sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5N9PQKV7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <div id="loading-wrapper">
        <div class="loading-top"></div>
        <div class="loading-ruler"></div>
        <div class="loading-bottom"></div>
    </div>
    <canvas id="gradient-canvas" style="width:100vw; height:100vh"></canvas>
    <main class="main">
        <div class="mobile-nav">
            <button class="projects-link">projects</button>
            <button class="chat-link">chat.tk</button>
            <div class="active-link"></div>
        </div>
        <div class="site-title-wrapper">
            <div class="title-text">
                <h1 id="title-1">tom k.</h1>
                <div class="subtitle-text">
                    <p id="subtitle">&emsp;&emsp;&emsp;&emsp;0-to-1 product designer with startup and large organization experience. 
                        Passionate about visual craft and interaction design. 
                        Currently prototyping with LLM's and tinkering with frontend code.
                    </p>
                    <h1 id="title-2">digital</h1>
                </div>
                <h1 id="title-3">designer</h1>
            </div>
            <canvas id="site-title-background"></canvas>
        </div>
        <section class="projects-wrapper">
            <div class="project-card-wrapper" id="solutions">
                <button type="button" class="front-card" id="solutions-button">
                        <div class="project-header">
                            <div class="project-title-wrapper">
                                <h2>Solutions Marketing</h2>
                                <h5>VistaPrint • 2023</h5>
                            </div>
                        </div>
                        <div class="project-description">
                            <h1 style="color: #DB9559">Helping small business owners accomplish their marketing goals.</h1>
                        </div>
                </button>
                <div class="accordion-1"></div>
                <div class="accordion-2"></div>
                <div class="accordion-3"></div>
            </div>
            <div class="case-study" id="solutions-study">
                <img src="/static/images/solutions/solutions grid.png" alt="Mockup of homepage carousel for desktop">
                <div class="case-study-slide" style="background-color: #DB9559;">                    
                    <h1>Small business owners are overwhelmed with options and crunched for time.</h1>
                    <div class="study-split-heading-wrapper">
                        <h3>They don't know where to go to find the products they need. </h3>
                        <h3>It is difficult to obtain multiple products that work well together.</h3>
                    </div>
                </div>
                <div class="case-study-slide" id="auto-height" style="background-color: #0096BD;">                    
                    <h6>hypothesis</h6>
                    <p>Collections of products in service of accomplishing common small business goals will help customers find what they need, discover new products, and increase awareness of Vista's cross-category offerings.</p>
                </div>
                <video class="desktop-video" controls muted>
                    <source src="/static/images/solutions/all solutions.mov" type="video/mp4" alt="Desktop mockup of the All Small Business Solutions page.">
                    Your browser does not support the video tag.
                </video>
                <div class="case-study-slide" id="auto-height" style="background-color: #DB9559;">                    
                    <h6>role & process</h6>
                    <div class="study-columns-wrapper">
                        <div>
                            <p style="margin-bottom: 24px;">Embedded in a cross-functional squad of twenty people, I represented UX alongside two designers.</p>
                            <p>We facilitated a week long workshop, then generated and tested three initial concepts in a two week discovery sprint.</p>
                        </div>
                        <div>
                            <p style="margin-bottom: 24px;">Over the next four months we iterated, diverged, and refined based on existing research, user testing, and various engineering and content constraints.</p>
                            <p>We presented bi-weekly to the larger team, leveraging our findings to influence experiment scope and project strategy.</p>
                        </div>
                    </div>
                </div>
                <div class="case-study-split-wrapper">
                    <div class="case-study-img-wrapper" id="amenity-interaction-video" style="background-color: #F16851;">
                        <video class="video" autoplay loop muted>
                            <source src="/static/images/solutions/carousel.mov" type="video/mp4" alt="Mobile mockup of the carousel of solutions links on the homepage.">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="case-study-portrait-text-wrapper" id="re-order" style="background-color: #FFC254;">
                        <p>This was my first project at VistaPrint. It took some time to get acquainted with the design system and the capacity of the front-end teams.</p>
                        <p>We were able to re-use a standard tile component as well as color and font pickers from our studio experience.</p>
                    </div>
                </div>
                <div class="case-study-split-wrapper">
                    <div class="case-study-portrait-text-wrapper" id="re-order" style="background-color: #0096BD;">
                        <p>This was my first project at VistaPrint. It took some time to get acquainted with the design system and the capacity of the front-end teams.</p>
                        <p>We were able to re-use a standard tile component as well as color and font pickers from our studio experience.</p>
                    </div>
                    <div class="case-study-img-wrapper" id="amenity-interaction-video" style="background-color: #9A59F6;">
                        <video class="video" autoplay loop muted>
                            <source src="/static/images/solutions/event sdp.mov" type="video/mp4" alt="Mobile mockup of the rock any event solution detail page.">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="case-study-slide" id="auto-height" style="background-color: #DB9559;">                    
                    <h6>role & process</h6>
                    <div class="study-columns-wrapper">
                        <div>
                            <p style="margin-bottom: 24px;">Embedded in a cross-functional squad of twenty people, I represented UX alongside two designers.</p>
                            <p>We facilitated a week long workshop, then generated and tested three initial concepts in a two week discovery sprint.</p>
                        </div>
                        <div>
                            <p style="margin-bottom: 24px;">Over the next four months we iterated, diverged, and refined based on existing research, user testing, and various engineering and content constraints.</p>
                            <p>We presented bi-weekly to the larger team, leveraging our findings to influence experiment scope and project strategy.</p>
                        </div>
                    </div>
                </div>
                <div class="case-study-three-up-wrapper">
                    <div class="case-study-metric" style="background-color: #66D071;">
                        <h3>3 weeks</h3>
                        <h6>a/b test<br>duration</h6>
                    </div>
                    <div class="case-study-metric" style="background-color: #66D071;">
                        <h3>+0.56%</h3>
                        <h6>Made-it-rate to<br>product configuration</h6>
                    </div>
                    <div class="case-study-metric" style="background-color: #66D071;">
                        <h3>+0.04%</h3>
                        <h6>multi-product<br>purchase rate</h6>
                    </div>
                </div>
                <div class="end-study" style="background-color: #D659DB;">                    
                    <h4>Want to learn more about my process? <a href="mailto:tom.kurzeka@gmail.com?subject=Let's Talk Design" style="color: white" id="request-info">Get in touch.</a>.</h4>
                </div>
            </div>
            <div class="project-card-wrapper" id="brand">
                <button class="front-card" id="brand-button">
                    <div class="project-header">
                        <div class="project-title-wrapper">
                            <h2>Brand Management</h2>
                            <h5>VistaPrint • 2023</h5>
                        </div>
                    </div>
                    <div class="project-description">
                        <h1 style="color: #1CA65C">Empowering small business owners to leverage brand identity consistently and efficiently.</h1>
                    </div>
                </button>
                <div class="accordion-1"></div>
                <div class="accordion-2"></div>
                <div class="accordion-3"></div>
            </div>
            <div class="case-study" id="brand-study">
                <img src="/static/images/brand/brand grid.png" alt="Decorative grid of ui elements from brand kit feature">
                <div class="case-study-slide"  style="background-color: #1CA65C;">                    
                    <h1>Managing brand identity is labor intensive and time consuming.</h1>
                    <div class="study-split-heading-wrapper">
                        <h3>Business owners often upload assets and select the same colors and typefaces multiple times.</h3>
                        <h3>Business owners know brand consistency is important but struggle to find the tools and time to achieve it.</h3>
                    </div>
                </div>
                <div class="case-study-slide" id="auto-height" style="background-color: #73B6FF;">                    
                    <h6>hypothesis</h6>
                    <p>A place where customers can upload a logo and select colors and fonts for use across the site will increase the number of customers completing their designs (as measured by MIR to design review).</p>
                </div>
                <div class="case-study-split-wrapper">
                    <div class="case-study-img-wrapper" id="amenity-interaction-video" style="background-color:#FF8F28;">
                        <video class="video" autoplay loop muted>
                            <source src="/static/images/brand/mobile brand kit empty.mov" type="video/mp4" alt="Mobile mockup of the empty state of the brand kit">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="case-study-portrait-text-wrapper" id="re-order" style="background-color: #C692FF;">
                        <p>We wanted configuring the brand kit to feel snappy and easy. We used the same tile style for adding different kinds of elements.</p>
                        <p>We didn't want to overcrowd the interface with repetitive overflow menus. We kept element-level configurations inside panels.</p>
                    </div>
                </div>
                <div class="case-study-split-wrapper">
                    <div class="case-study-portrait-text-wrapper" id="re-order" style="background-color: #73B6FF;">
                        <p>This was my first project at VistaPrint. It took some time to get acquainted with the design system and the capacity of the front-end teams.</p>
                        <p>We were able to re-use a standard tile component as well as color and font pickers from our studio experience.</p>
                    </div>
                    <div class="case-study-img-wrapper" id="amenity-interaction-video" style="background-color: #FFB9F0;">
                        <video class="video" autoplay loop muted>
                            <source src="/static/images/brand/mobile brand kit filled.mov" type="video/mp4" alt="Mobile mockup of the brand kit completed state and edit interactions">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="case-study-slide" id="auto-height" style="background-color: #1CA65C;">                    
                    <h6>role & process</h6>
                    <div class="study-columns-wrapper">
                        <div>
                            <p style="margin-bottom: 24px;">I joined this effort after a discovery and requirements gathering process was completed.</p>
                            <p>I was brought on to design an MVP enabling users to configure four brand elements: business background, colors, logo, and type.</p>
                        </div>
                        <div>
                            <p style="margin-bottom: 24px;">After an interaction and pattern audit of six competitors, I iterated and refined concepts over four weeks.</p>
                            <p>I presented weekly to my squad for general feedback and to the Brand Kit Design Manager for refinements based on his discovery research.</p>
                        </div>
                    </div>
                </div>
                <img src="/static/images/brand/kit home toggle.png" alt="Brand kit landing page empty state with no brand kit records created">
                <div class="case-study-slide" id="auto-height" style="background-color: #C692FF;">                    
                    <h6>site-wide personalization</h6>
                    <div class="study-columns-wrapper">
                        <div>
                            <p style="margin-bottom: 24px;">Allowing customers to switch between mulitple kits was a key requirement.</p>
                            <p>The primary brand kit's logo, colors, and fonts are easily accessible in Vista Studio.</p>
                        </div>
                        <div>
                            <p style="margin-bottom: 24px;">The primary brand kit is applied to personalized product recommendations and incorporated into design templates throughout the site.</p>
                        </div>
                    </div>
                </div>
                <div class="case-study-three-up-wrapper">
                    <div class="case-study-metric" style="background-color: #FF8F28;">
                        <h3>+425</h3>
                        <h6>brand kits<br>created per day</h6>
                    </div>
                    <div class="case-study-metric" style="background-color: #FF8F28;">
                        <h3>+8%</h3>
                        <h6>Made-it-rate to<br>design review</h6>
                    </div>
                    <div class="case-study-metric" style="background-color: #FF8F28;">
                        <h3>$45,000</h3>
                        <h6>estimated<br>annualized revenue</h6>
                    </div>
                </div>
                <div class="end-study" style="background-color: #73B6FF;">                    
                    <h4>Want to learn more about my process? <a href="mailto:tom.kurzeka@gmail.com?subject=Let's Talk Design" style="color: white" id="request-info">Get in touch.</a>.</h4>
                </div>
            </div>
            
            <div class="project-card-wrapper" id="smores">
                <button class="front-card" id="smores-button">
                    <div class="project-header">
                        <div class="project-title-wrapper">
                            <h2>S'mores Design System</h2>
                            <h5>The Dyrt • 2019-2022</h5>
                        </div>
                    </div>
                    <div class="project-description">
                        <h1 style="padding-bottom: 32px; color: #20CAAB">Establishing a design system at a growing startup.</h1>
                    </div>  
                </button>
                <div class="accordion-1"></div>
                <div class="accordion-2"></div>
                <div class="accordion-3"></div>
            </div>
            <div class="case-study" id="smores-study">
                <img src="/static/images/smores/smores grid.png" alt="A decorative grid showing a selection of design system components">
                <div class="case-study-slide" style="background-color: #20CAAB;">                    
                    <h1>A cross-platform visual language rooted in our brand identity.</h1>
                    <div class="study-columns-wrapper">
                        <h3>In 2019, a rebrand led by our Design Director brought a modern look and feel to our latest MVP - The  Dyrt PRO.</h3>
                        <h3>In 2020, our rebrand's contribution to a successful subscription service got us buy-in to dedicate time to establishing a design system.</h3>
                    </div>
                </div>
                <div class="case-study-split-wrapper">
                    <img style="max-width:100%;" src="/static/images/smores/smores type.png" alt="A series of headers representing the design system type scale">
                    <img style="max-width:100%;" src="/static/images/smores/smores colors.png" alt="Circular swatches representing the design system colors">
                </div>
                <img style="padding: 40px; background-color: #F8F6F4;" src="/static/images/smores/spacing cta.png" alt="">
                <div class="case-study-slide" id="auto-height" style="background-color: #E57150;">                    
                    <h6>role & process 1.1</h6>
                    <div class="study-columns-wrapper">
                        <div>
                            <p style="margin-bottom: 24px;">The 2019 rebrand introduced much needed modern styles to our UI.</p> 
                            <p>In 2020, we replatformed from Ember to Next.js. It was an opportunity to redesign a core page of the experience - the campground details page.</p>
                        </div>
                        <div>
                            <p style="margin-bottom: 24px;">This page was the first step in componentizing patterns on The Dyrt.</p>
                            <p>I designed each pattern with the design system in mind, leveraging our new brand and thinking atomically and responsively.</p>
                        </div>
                    </div>
                </div>
                <video class="desktop-video" controls muted>
                    <source src="/static/images/smores/campground details.mov" type="video/mp4" alt="Desktop mockup of the redesigned campground details page featuring new brand styles">
                    Your browser does not support the video tag.
                </video>
                <div class="case-study-three-up-wrapper">
                    <img src="/static/images/smores/review organism.png" alt="A mockup of the redesigned user review component">
                    <img src="/static/images/smores/review molecules.png" alt="A mockup showing the design system molecules that make up the review component">
                    <img src="/static/images/smores/review atoms.png" alt="A mockup showing the design system atoms that make up the preceding molecules">
                </div>
                <div class="case-study-slide" id="auto-height" style="background-color: #E3AB50;">                    
                    <h6>role & process 1.2</h6>
                    <div class="study-columns-wrapper">
                        <div>
                            <p style="margin-bottom: 24px;">In 2021, a second product designer joined the team. We dove into a pattern audit. </p> 
                            <p>We identified one-off instances, variations to consolidate, and interactions that needed clarifying.</p>
                        </div>
                        <div>
                            <p style="margin-bottom: 24px;">Working closely with engineering, we generated a set recommendations based on engineering lift and usability impact.</p>
                            <p>need more?</p>
                        </div>
                    </div>
                </div>
                <div class="case-study-split-wrapper">
                    <div class="case-study-img-wrapper" id="amenity-interaction-video" style="background-color:#841E65;">
                        <video class="video" autoplay loop muted>
                            <source src="/static/images/smores/trip planner.mov" type="video/mp4" alt="Mobile mockup of the empty state of the brand kit">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="case-study-portrait-text-wrapper" id="re-order" style="background-color: #20CAAB;">
                        <p>The S'mores Design System makes configuring and editing a days-long road trip easy in our Trip Planner feature.</p>
                        <p>We used large tap targets for radios buttons and checkboxes, which were helpful for our older audience.</p>
                        <p>Our custom iconography and bright active state styling sustain our brand voice throughout the flow.</p>
                    </div>
                </div>
                <div class="case-study-three-up-wrapper">
                    <img src="/static/images/smores/bottom sheet organism.png" alt="A mockup of a bottom sheet organism from the Trip Planner experience">
                    <img src="/static/images/smores/bottom sheet molecules.png" alt="A mockup showing the design system molecules that make up the bottom sheet organism">
                    <img src="/static/images/smores/bottom sheet atoms.png" alt="A mockup showing the design system atoms that make up the preceding molecules">
                </div>
                <div class="case-study-slide" id="auto-height" style="background-color: #E57150;">                    
                    <h6>s'mores as collaborative space</h6>
                    <p>A design system is a bridge between design and development. Part and parcel of establishing a design system is refining lines of communication between these teams. This communication was critical to The Dyrt's broader success.</p> 
                    <p>As the design team grew, S'mores became a meeting place for Brand, Product, and Marketing designers to explore, borrow, and learn from neighboring disciplines.</p> 
                </div>
                <div class="end-study" style="background-color: #20CAAB;">                    
                    <h4>Want to learn more about my process? <a href="mailto:tom.kurzeka@gmail.com?subject=Let's Talk Design" style="color: white" id="request-info">Get in touch</a>.</h4>
                </div>
            </div>
            <div class="project-card-wrapper" id="field-reports">
                <button class="front-card" id="field-reports-button">
                    <div class="project-header">
                        <div class="project-title-wrapper">
                            <h2>Field Reports</h2>
                            <h5>The Dyrt • 2022</h5>
                        </div>
                    </div>
                    <div class="project-description">
                        <h1 style="color: #EBC2FE">A delightful way for users to submit cellular coverage and campground data.</h1>
                    </div>
                </button>
                <div class="accordion-1"></div>
                <div class="accordion-2"></div>
                <div class="accordion-3"></div>
            </div>
            <div class="case-study" id="field-reports-study">
                <img src="/static/images/fields/amenities grid.png" alt="A grid showing the amenities tile component">
                <div class="case-study-slide" style="background-color: #EBC2FE;">                    
                    <h1>Campers want to know if they'll have cell service before they reserve a campsite.</h1>
                    <div class="study-columns-wrapper">
                        <h3>Staying connected lowers the barrier of entry to the outdoors.</h3>
                        <h3>Competitors are collecting and displaying this data on their listings.</h3>
                    </div>
                </div>
                <div class="case-study-split-wrapper">
                    <div class="case-study-img-wrapper" style="background-color: #1CA65C;">
                        <img src="/static/images/fields/Fields 1.png" alt="Mobile mockup of the field reports opening screen"></div>
                    <div class="case-study-img-wrapper" style="background-color: #F56846;">
                        <img src="/static/images/fields/Fields 2.png" alt="Mobile mockup of the field reports location confirmation screen"></div>
                </div>
                <div class="case-study-slide" id="auto-height" style="background-color: #EBC2FE;">                    
                    <h6>role & process</h6>
                    <div class="study-columns-wrapper">
                        <div>
                            <p style="margin-bottom: 24px;">I owned this feature from start to finish, working closely with the Head of Product and a Lead Engineer.</p> 
                            <p>I was given two requirements: measure network connection speed and gather amenities data points.</p>
                        </div>
                        <div>
                            <p style="margin-bottom: 24px;">As a part of this work, I also audited the app navigation patterns.</p>
                            <p>We standardized control placement, iconography, and UX copy in S'mores, the design system. </p>
                        </div>
                    </div>
                </div>
                <div class="case-study-split-wrapper">
                    <div class="case-study-img-wrapper" style="background-color: #1CA65C;">
                        <video class="video" autoplay loop muted>
                            <source src="/static/images/fields/connection test animation.mov" type="video/mp4" alt="Mobile mockup of the amenities quesitons interaction">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="case-study-portrait-text-wrapper" style="background-color: #4AA1FF;">
                        <p>This feature was an opportunity to unite interaction design, a technical requirement, and The Dyrt's evolving brand identity.</p>
                        <p>I collaborated with our in-house illustrator to combine our visual style and easy-going brand voice into a one-of-a-kind loading indicator.</p>
                    </div>
                </div>
                <div class="case-study-split-wrapper">
                    <div class="case-study-portrait-text-wrapper" id="re-order" style="background-color: #4AA1FF;">
                        <p>After the connection test, users have the option of answering amenities questions about the campground.</p>
                        <p>Leveraging our custom iconography and some motion, this interaction breathes life and delight into an otherwise tedious task.</p>
                    </div>
                    <div class="case-study-img-wrapper" id="amenity-interaction-video" style="background-color: #F56846;">
                        <video class="video" autoplay loop muted>
                            <source src="/static/images/fields/amenities interaction.mov" type="video/mp4" alt="Mobile mockup of the amenities quesitons interaction">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="case-study-slide" id="auto-height" style="background-color: #EBC2FE;">
                    <h3>The Field Report feature extends the customer experience of the app beyond planning and into the camping moment.</h3>
                </div>
                <div class="case-study-split-wrapper">
                    <div class="case-study-metric" style="background-color: #FFE486;">
                        <h3>93,000</h3>
                        <h6>amenities updates<br>60 days post-launch</h6>
                    </div>
                    <div class="case-study-metric" style="background-color: #FFE486;">
                        <h3 >13,000</h3>
                        <h6>field reports submitted<br>6 months post-launch</h6>
                    </div>
                </div>
                <div class="end-study" style="background-color: #1CA65C;">                    
                    <h4>Want to learn more about my process? <a href="mailto:tom.kurzeka@gmail.com?subject=Let's Talk Design" style="color: white" id="request-info">Get in touch!</a>.</h4>
                </div>
            </div>
        </section>
        <section class="aside-absolute">
            <div class="aside-wrapper">
                <div class="pill">
                    <h2 id="pill-text">chat.tk</h2>
                </div>
                <div class="chat-wrapper">
                    <div id="chat-container">
                        <div id="chat-display">
                            <div class="bot-message" id="welcome-message"></div>
                            <div id="cursor">▒</div>
                            <div id="chat-display-anchor"></div>
                        </div>
                        <form id="chat-form" autocomplete="off">
                            <input type="text" id="user-input" data-chat-url="{{ url_for('chat') }}" placeholder="Ask a question or select a suggestion" onblur="this.placeholder='Ask a question or select a suggestion'"/>
                            <button class="submit-button" type="submit"></button>
                        </form>
                    </div>
                </div>
                <button class="icebreaker-menu-button">
                    <div>View Suggestions</div>
                </button>
                <section class="icebreakers-wrapper">
                    <div class="icebreaker-mobile-header">
                        <h4>Suggested Questions</h4>
                        <button class="close-icebreaker-button"></button>
                    </div>
                    <div class="icebreaker-tiles-wrapper">
                        <button class="icebreaker-tile" data-tilt>
                            <div class="tile-text" id="tile-1">Tell me about Tom's professional experience.</div>
                        </button>
                        <button class="icebreaker-tile" data-tilt>
                            <div class="tile-text" id="tile-2">Does Tom have experience with user research?</div>
                        </button>
                        <button class="icebreaker-tile" data-tilt>
                            <div class="tile-text" id="tile-3">What is Tom looking for in his next role?</div>
                        </button>
                        <button class="icebreaker-tile" data-tilt>
                            <div class="tile-text" id="tile-4">What is Tom's design perpsective?</div>
                        </button>
                        <button class="icebreaker-tile" data-tilt>
                            <div class="tile-text" id="tile-5">What is Tom's perspective on pineapple on pizza?</div>
                        </button>
                        <button class="icebreaker-tile" data-tilt>
                            <div class="tile-text" id="tile-6">What is Tom's design superpower?</div>
                        </button>
                        <button class="icebreaker-tile" data-tilt>
                            <div class="tile-text" id="tile-7">Tell me about Tom's hobbies.</div>
                        </button>
                        <button class="icebreaker-tile" data-tilt>
                            <div class="tile-text" id="tile-8">What is Tom's favorite color?</div>
                        </button>
                    </div>
                </section>
            </div>
        </section>
        <section class="footer-wrapper">
            <div class="footer-content">
                <a class="contact-link" href="mailto:tom.kurzeka@gmail.com?subject=Let's Talk Design">
                    <img class="contact-icon" src="/static/images/contact arrow.svg" alt="arrow icon">
                    <h2>Get in touch</h2>
                </a>
                <div class="footer-copyright">© Tom Kurzeka 2023</div>
            </div>
            <canvas id="footer-background"></canvas>
        </section>
    </main>
    <script src="https://unpkg.com/tilt.js@1.2.1/dest/tilt.jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>

