{% extends "base.html" %}

{% block content %}
<div class="py-12 px-4 lg:px-4 lg:py-8 xl:px-20 xl:py-20 lg:ml-64 flex flex-col items-center">
    <div class="flex flex-col gap-4 xl:max-w-6xl">
        <header class="flex flex-col gap-4 mb-2 max-w-prose">
            <p class="text-base mb-1"> {{ post.date.strftime("%B %d, %Y") }} </p>
            <h1 class="text-4xl font-bold">{{ post.title }}</h1>
            <p class="text-base mb-2"> {{ post.preview }} </p>
        </header>
        <article class="prose prose-slate max-w-prose dark:prose-invert">
            {{ post.html|safe }}
        </article>
    </div>
</div>

{% endblock content%}