{% extends "base.html" %}
{% block title %} Blog {% endblock %}
{% block content %}
<div class="bg-zinc-900/40 py-24 px-4 xl:px-20 lg:ml-64 flex flex-col items-center">
    <div class="flex flex-col gap-4 xl:max-w-6xl">
        <header class="prose prose-stone prose-invert flex flex-col gap-4 mb-2 max-w-prose">
            <p class="text-zinc-400 text-sm mb-1"> {{ post.date.strftime("%B %d, %Y") }} </p>
            <h1 class="text-zinc-200 text-4xl font-bold">{{ post.title }}</h1>
        </header>
        <article class="prose prose-zinc prose-invert prose-figcaption:mt-1 prose-figcaption:italic prose-img:mb-1 prose-img:rounded-lg prose-a:text-inherit max-w-3x">
            {{ post.html|safe }}
        </article>
    </div>
</div>
{% endblock content%}