{% extends "base.html" %}

{% block content %}

{{ component.case_study_title(
   "Helping small business owners accomplish their marketing goals"
) }}

<div class="py-12 px-4 lg:px-4 lg:py-8 xl:px-20 xl:py-20 lg:ml-64 flex flex-col items-center">
   <div class="flex flex-col gap-4 xl:max-w-6xl">
      {{ component.case_study_hero(
         "/static/images/solutions/solutions grid.png",
         "A grid of various brands and product tiles"
      ) }}
      {{ component.display_text_with_columns(
         "Small business owners are overwhelmed with options and crunched for time.",
         "They don't know where to go to find the products they need.",
         "It is difficult to obtain multiple products that work well together."
         ) }}
      {{ component.paragraph_with_eyebrow(
         "hypothesis",
         "Collections of products in service of accomplishing common small business goals will help customers find what they need, discover new products, and increase awareness of Vista's cross-category offerings."
         ) }}
      {{ component.landscape_video(
         "/static/images/solutions/all solutions.mov",
         "Desktop mockup of the All Small Business Solutions page"
         ) }}
      
      {{ component.columns_with_eyebrow(
         "role & process",
         "Embedded in a cross-functional squad of twenty people, I represented UX alongside two designers. We facilitated a week long workshop, then generated and tested three initial concepts in a two week discovery sprint.",
         "Over the next four months we iterated, diverged, and refined based on existing research, user testing, and various engineering and content constraints. We presented bi-weekly to the larger team, leveraging our findings to influence experiment scope and project strategy."
      ) }}
      
      <div class="grid md:grid-cols-2 gap-4">
         {{ component.portrait_video(
            "bg-[#F16851]",
            "/static/images/solutions/carousel.mov",
            "Mobile mockup of the carousel of solutions links on the homepage"
         ) }}
         {{ component.three_paragraphs_vertical(
            "Our MVP acquisition strategy was limited to organic homepage traffic. We advocated for a hero placement to intercept and redirect customers to the new offering.",
            "UX conducted a round of user tests on tile content types and Merchandising conducted a round of studies on tile imagery.",
            "Moderated studies during the experiment revealed customers perceived the tiles as links to blog posts, making them less effective than predicted."
         ) }}
      </div>
      
      <div class="flex flex-col flex-col-reverse md:grid grid-cols-2 gap-4">
         {{ component.three_paragraphs_vertical(
            "A key finding from our design sprint was that user needs varied across business maturity.",
            "Our goal was to provide our marketing partners a framework enabling them to target various industries and business life stages.",
            "The Solutions Detail Page presents a high-level goal broken down into three approachable substories, with products and advice for each."
         ) }}
         {{ component.portrait_video(
            "bg-[#9A59F6]",
            "/static/images/solutions/event sdp.mov",
            "Mobile mockup of the rock any event solution detail page"
         ) }}
      </div>
      
      <div class="grid md:grid-cols-2 gap-4">
         {{ component.portrait_video(
            "bg-[#F16851]",
            "/static/images/solutions/cross sell.mov",
            "Mobile mockup of the solutions cross-sell page"
         ) }}
         {{ component.three_paragraphs_vertical(
            "Customers can spend upwards of 90 minutes designing and configuring a single product.",
            "We used an existing recommended products screen to show a simplified Solution Detail Page.",
            "This screen re-iterates the discount offer, illustrates a customer's progress on each substory, and offers navigation back to the full Solution Detail Page."
         ) }}
      </div>
      {{ component.paragraph_with_eyebrow(
         "reflection",
         "One of the greatest lessons I learned from this collaborative effort was how to influence strategy and experiment scope. Our UX pod was one perspective among many in this broad cross-functional effort. Re-iterating insights from user studies and referencing previous 'aha' moments were effective tools in advocating for the customer perspective."
         ) }}
      {{ component.three_data_points(
         "3 weeks",
         "a/b test duration",
         "+0.56%",
         "made-it-rate to product configuration",
         "+0.04%",
         "multi-product purchase rate"
         ) }}
   </div>

</div>
{% endblock content %}